<div class = "container-fluid header noSpace">
  <div class = "row noSpace">
    <div class="col-lg-1 col-md-4 col-sm-3 col-xs-2">
      <span class="fas fa-tachometer-alt">
      </span>&nbsp;Dashboard 
    </div>
    <div class="col-lg-9 col-md-4 col-sm-6 col-xs-0"></div>
    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-5 paddingLeft">
      <span class = "fas fa-user">
      </span>&nbsp;Admin
      <div class="dropdown inline-block">
        <button class="btn btn-secondary dropdown-toggle color" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="">Log out</a>
        </div>
      </div>
    </div>
  </div>
</div>